@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}   

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    height: 50vh;
    background-image: url(../img/fundo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center ;
    box-shadow: 1px 1px 1px white;
    
}

header>h1{
    padding-top: 30px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3em;
    text-decoration: underline;
    font-style: italic;   
}

header >div{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 30px;
}
div >nav{
    border: 3px solid rgba(0, 0, 0, 0.253);
    padding-top: 20px;
    text-align: center;
    height: 80px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.418);
}