@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-image: url(https://img.freepik.com/fotos-premium/fundo-do-grunge-com-espaco-para-texto_87394-20608.jpg?size=626&ext=jpg);
    background-size: contain;
}

.cabe{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: black;
}

.cabe h1{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}
.cabe div{
    display: flex;
    background-size: cover;
    width: 100px;
    height: 50px;
}

.interruptooff{
    display: block;
}
.interruptoon{
    display: none;
}

.estante{
    background-color: black;
    margin: auto;
    height: 100%;
    width: 450px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#divisoria1{
    background-image: url(https://img.freepik.com/fotos-premium/mesa-de-madeira-marrom-sobre-um-fundo-preto-da-parede_174431-174.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 1px solid black;
    width: 450px;
    height: 200px;
}
#divisoria2{
    background-image: url(https://img.freepik.com/fotos-premium/mesa-de-madeira-marrom-sobre-um-fundo-preto-da-parede_174431-174.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 1px solid black;
    width: 450px;
    height: 200px;
}
#divisoria3{
    background-image: url(https://img.freepik.com/fotos-premium/mesa-de-madeira-marrom-sobre-um-fundo-preto-da-parede_174431-174.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    width: 450px;
    height: 200px;
}
.base{
    width: 150px;
    height: 200px;
    
}

.estas{
    display: flex;
}
.est1{
    display: flex;
    box-shadow: inset -5px 13px 20px 0px #26f7f7; 
}
.est2{
    display: flex;
    box-shadow: inset 5px 13px 20px 0px #26f7f7;  
 }
 .est3{
    display: flex;
    box-shadow: inset -5px 13px 20px 0px #26f7f7; 
}
 
footer{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCbdCGC29zLGwIz_bVWhIeiHeQetwQxjY5j8Bvfnzn2Oudf-FLvyGW4nxk-o--OKivhMk&usqp=CAU);
    background-size: contain;
    box-shadow: 0px -20px 20px 20px #5fb7da;
    height: 110px;
    width: 100%;
    
}