@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
}

.cabe{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.cabe h1{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}
.cabe span{
    display: flex;
    background-size: cover;
    width: 100px;
    height: 50px;
    
}

.estante{
    background-color: black;
    margin: auto;
    height: 100%;
    width: 450px;
    height: 600px;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divisoria{
    display: flex;
    border: 1px solid white;
    width: 450px;
    height: 200px;
}

.base{
    width: 150px;
    height: 200px;
    border: 1px solid white;

}